<footer id="landing-footer" class="clearfix">
  <div class="row clearfix">
    <p id="copyright" class="col-2"><a href="{{ '/impressum/' | relative_url }}">Impressum</a></p>
    <ul class="col-2 social-icons">
      <li>
        <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/steigerobin/">
          <i class="fa fa-linkedin fa-1x"></i><span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="freelancermap" href="https://www.freelancermap.de/profil/software-engineer-und-ai-specialist-with-robotics-experience">
          <img src="{{ 'files/images/flm.png' | relative_url }}" alt="freelancermap" style="opacity:0.5; width:80%; vertical-align:middle; position:relative; top:-3px;">
        </a>
      </li>
      <li>
        <a target="_blank" title="Mail" href="mailto:steigerobin@hotmail.de">
          <i class="fa fa-at fa-1x"></i><span>Mail</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="Instagram" href="https://www.instagram.com/multijake75/">
          <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
        </a>
      </li>
      <li>
        <a target="_blank" title="WhatsApp" href="https://wa.me/4915734845522?text=You%20look%20cute%20;-)">
          <i class="fa fa-whatsapp fa-1x"></i><span>WhatsApp</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
