<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse">
    <div class="row clearfix">
      <div class="col-1">

        <!--Logo-->
        <div id="logo">

          <!--Logo that is shown on the banner-->
          <a href="{{ '/' | relative_url }}#banner">
            <img src="{{ 'files/images/logo.png' | relative_url }}" id="banner-logo" alt="Landing Page" />
          </a>

          <!--The Logo that is shown on the sticky Navigation Bar-->
          <a href="{{ '/' | relative_url }}#banner">
            <img src="{{ 'files/images/logo.png' | relative_url }}" id="navigation-logo" alt="Landing Page" />
          </a>
          <!--End of Navigation Logo-->

        </div>
        <!--End of Logo-->

        <aside>
          <ul class="social-icons">
            <li>
              <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/steigerobin/">
                <i class="fa fa-linkedin fa-1x"></i><span>LinkedIn</span>
              </a>
            </li>
            <li>
              <a target="_blank" title="freelancermap" href="https://www.freelancermap.de/profil/software-engineer-und-ai-specialist-with-robotics-experience">
                <img src="{{ 'files/images/flm.png' | relative_url }}" alt="freelancermap" style="width:80%; vertical-align:middle; position:relative; top:-3px;">
              </a>
            </li>
            <li>
              <a target="_blank" title="Mail" href="mailto:steigerobin@hotmail.de">
                <i class="fa fa-at fa-1x"></i><span>Mail</span>
              </a>
            </li>
            <li>
              <a target="_blank" title="Instagram" href="https://www.instagram.com/multijake75/">
                <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
              </a>
            </li>
            <li>
              <a target="_blank" title="WhatsApp" href="https://wa.me/4915734845522?text=You%20look%20cute%20;-)">
                <i class="fa fa-whatsapp fa-1x"></i><span>WhatsApp</span>
              </a>
            </li>
          </ul>
        </aside>

        <!-- Navigation-->
        <nav id="nav-main">
          <ul>
            <li><a href="#banner">Home</a></li>
            <li><a href="#professional">Professional</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#private">Private</a></li>
            <li><a href="#miscellaneous">Miscellaneous</a></li>
          </ul>
        </nav>

        <div id="nav-trigger"><span></span></div>
        <nav id="nav-mobile"></nav>

      </div>
    </div>
  </div><!--End of Header-->

  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">
    <div class="col-38">
      <div class="section-heading">
        <h1>Welcome!</h1>
        <h2>I'm Robin, a software engineer specialized in robotics, AI, and bringing creative ideas to life.</h2>
      </div>
      <!--Call to Action-->
      <a class="button" href="mailto:steigerobin@hotmail.de">Send me love</a>
      <!--End Call to Action-->
    </div>
  </div><!--End of Row-->
</header>
